@charset "utf-8";
@import "compass/reset";
@import "compass/css3";
@import url("https://use.typekit.net/ohp3fni.css");

* {
	box-sizing: border-box;
}

html {
	width: 100%;
	margin: 0;
}

body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-size: 10.5pt;
	font-family: "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "Droid Sans", sans-serif;
	font-weight: 400;
	line-height: 1.7em;
	letter-spacing: 0.1em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	font-feature-settings: 'palt';
	word-wrap: break-word;
}


/**
 * 変数として使う値
 */
$titleColor: #d1d5e1;
$videoBorderColor: #282828;


/**
 * 英語フォントを使用するmixin
 * @param $weight 適用するフォントのweight 'light''regular''bold'から選ぶ
 */
@mixin enFont($weight: 'regular') {
	font-family: nimbus-sans, sans-serif;
	line-height: 1.25em;
	letter-spacing: 0;
	@if ($weight == 'bold') {
		font-weight: 700;
	}
	@else if ($weight == 'light') {
		font-weight: 200;
	}
	@else {
		font-weight: 400;
	}
}