@import "compass/css3";
/**
 * 英語フォントを使用するmixin
 * @param $weight 適用するフォントのweight 'light''regular''bold'から選ぶ
 */
@mixin enFont($weight: 'regular') {
	font-family: nimbus-sans, sans-serif;
	line-height: 1.25em;
	letter-spacing: 0;
	@if ($weight == 'bold') {
		font-weight: 700;
	}
	@else if ($weight == 'light') {
		font-weight: 200;
	}
	@else {
		font-weight: 400;
	}
}

/**
 * 透明度の設定をするmixin
 */
@mixin opacity($opacity) {
	opacity: $opacity;
	$opacityIE: $opacity * 100;
	filter: alpha(opacity=$opacityIE);
}

/**
 * 角Rの設定をするmixin
 */
@mixin borderRadius($value: 20px) {
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	-ms-border-radius: $value;
	border-radius: $value;
}